* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(204, 229, 255);
  background: linear-gradient(
    350deg,
    rgba(204, 229, 255, 1) 0%,
    rgba(212, 237, 218, 1) 100%
  );
}
header {
  margin: 50px 0;
  text-align: center;
  color: #155724;
}
.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 400px;
}
.presupuesto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  font-weight: bold;
  color: #155724;
  border: solid 2px #bdbdbd;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.gastos {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  font-weight: bold;
  color: #155724;
  border: solid 2px #bdbdbd;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.datos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}
.balance {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.presupuesto-actual {
  padding: 15px;
  border: solid 2px #bdbdbd;
  border-radius: 10px;
  color: rgb(94, 94, 255);
  font-weight: bold;
  background-color: rgb(204, 229, 255);
}
.presupuesto-restante {
  padding: 15px;
  border: solid 2px #bdbdbd;
  border-radius: 10px;
  color: #155724;
  font-weight: bold;
  background-color: rgba(212, 237, 218, 1);
}
.lista-gastos {
  padding: 15px;
  border: solid 2px #bdbdbd;
  border-radius: 10px;
  background-color: #f2f2f2;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="submit"] {
  width: 100%;
  background-color: rgb(204, 229, 255);
  color: rgb(94, 94, 255);
  font-weight: bold;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(94, 94, 255);
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: rgb(94, 94, 255);
  color: white;
  transition: 0.25s;
}

.error-gasto,
.error-presupuesto {
  background-color: #ff978c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ff7869;
  text-align: center;
  display: none;
}
.gasto-correcto {
  background-color: rgba(212, 237, 218, 1);
  color: #599e69;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #7bd490;
  text-align: center;
  display: none;
}
